<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Info</title>    
    <link rel="stylesheet" href="/styles/components-styles/personalDetails.css">

  </head>
  <body>
    <header>
      <h1>{{{title}}}</h1>
    </header>
    <main>
      <h3>{{{title}}}</h3>
      <form id="profilepage" method="post" action="/guest/personal">
        {{!-- <div class="profile-image"> --}}
          <img src={{{user.profilePic}}} alt="profile picture" />
        {{!-- </div> --}}
        <label for="username">Username</label>
        <input placeholder="username" type="text" readonly name="username" value={{{user.firstName}}} />
        <label for="phone">Phone Number</label>
        <input placeholder="phone" type="text" readonly name="phone" value={{{user.phoneNumber}}} />
        <label for="email">Email</label>
        <input placeholder="email" type="text" readonly name="email" value={{{user.email}}} />
        <label for="role">Role</label>
        <input placeholder="role" type="text" readonly name="role" value={{{user.role}}} />
        <br /><br /><br />
        <Button id="edit-profile" type="submit" name="edit">Edit</Button>
      </form>
    </main>
    <footer>
      <a href="/logout">Logout</a>
    </footer>
  </body>
</html>

