<!DOCTYPE html>
<html>
<head>
  <title>Property List</title>
  <link rel="stylesheet" href="../../styles/components-styles/property.css">
</head>
<body>
  <h1>Property List</h1>
  <ul>
    {{#each properties}}
      <li>
        <h2>{{propertyName}}</h2>
        <img src="{{property.image.dataURL}}">
        <p>{{description}}</p>
        <p>Number of Rooms: {{numberOfRooms}}</p>
        <p>Number of Bathrooms: {{numberOfBathrooms}}</p>
        <p>Amenities: {{amenities}}</p>
        <p>Address: {{address}}</p>
        <p>Price per Night: {{pricePerNight}}</p>
        <p>Availability: {{availability}}</p>
         <button class="button-primary">Book Now</button>
      </li>
    {{/each}}
  </ul>
</body>
</html>