<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign-Up</title>
  <link rel="stylesheet" href="/styles/components-styles/UserLogin.css">
</head>

<body>
  <header>
    <h1>Sign Up Form</h1>

  </header>
  <main>
    <div class="sign-up-form">
      <form id="sign-up-form" action="/sign-up" method="post">
        <label for="firstName"> First Name: </label>
        <input type="text" placeholder="Enter your first name" id="firstName" name="firstName" value="{{firstName}}"required></input><br>
        <label for="lastName"> Last Name: </label>
        <input type="text" placeholder="Enter your last name" id="lastName" name="lastName" value="{{lastName}}"required></input><br>
        <label for="age"> Age: </label>
        <input type="text" placeholder="Enter your age" id="age" name="age" value="{{age}}" required></input><br>
        <label for="emailAddress"> Email Address: </label>
        <input type="email" placeholder="Enter your email address" id="email" name="email" value="{{email}}" required></input><br>
        <label for="password"> Password: </label>
        <input type="password" placeholder="Enter your password" id="password" name="password" value="{{password}}"required></input><br>
        <label for="phoneNumber"> Phone Number: </label>  
        <input type="tel" placeholder="Enter your phone number" id="phoneNumber" name="phoneNumber" value="{{phoneNumber}}"
          required></input><br>
        <label for="role"> Role (admin/user): </label>
        <input type="text" placeholder="Enter your role" id="role" name="role" value="{{role}}"required></input><br>
        <button type="submit" id="signup-btn">Sign-Up</button>
      </form>
    </div>
    <p>{{error}}</p>
    <p>Already have an account? <a href="/login">Log in here</a>.</p>
    
  </main>

</body>

</html>