<header>
  <h1>Properties</h1>
</header>

<main>
  <table id="properties-table">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Description</th>
        <th>Number of Rooms</th>
        <th>Number of Bathrooms</th>
        <th>Amenities</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Price per Night</th>
        <th>Availability</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      {{#each properties}}
        <tr>
          <td>{{this.propertyName}}</td>
          <td>{{this.description}}</td>
          <td>{{this.numberOfRooms}}</td>
          <td>{{this.numberofBathrooms}}</td>
          <td>{{this.amenities}}</td>
          <td>{{this.address}}</td>
          <td>{{this.latitude}}</td>
          <td>{{this.longitude}}</td>
          <td>{{this.pricePerNight}}</td>
          <td>{{this.availability}}</td>
          <td><button class="Review-button" onclick="bookNow('{{this.id}}')">Review</button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <a href="/logout">Logout</a>
</main>

<script src="/styles/client-side/viewProperty.js"></script>
